{deps, [
  {sync, ".*",
    {git, "git://github.com/rustyio/sync.git", "master"}},
  {cowboy, ".*",
    {git, "git://github.com/ninenines/cowboy.git", "master"}},
  {jsx, ".*",
    {git, "git://github.com/talentdeficit/jsx.git", "master"}},
  {gproc, ".*",
    {git, "git://github.com/uwiger/gproc.git", "master"}}
]}.

{require_otp_vsn, "R17|R18|17|18"}.
